<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>IRP form</title>
    <link rel="stylesheet" href="../static/style/form.css">
</head>
<body>
    
    <div class="container1">
        <form id="myForm" action="/submit" method="post">
          <div class="image">
            <img src="../static/logo_black.png" alt="">
          </div>
          <center>
            <h2>Contact Us</h2>
          </center>
          <label for="email">Student's email Id</label>
            <input type="email" name="email" id="email" placeholder="Your Institute email Id">
            <label for="message" id="text-label">How can we help?</label>
            <textarea name="message" id="message" cols="60" rows="10" placeholder="Type your message here"></textarea>
            <button class="btnn">Submit</button>
        </form>
    </div>
    
</body>
</html>





  
  
